<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/baffle@0.3.6/dist/baffle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet"type="text/css" href="../../styles/main.css">
    <link rel="stylesheet"type="text/css" href="../../styles/detail.css">
    <link rel="stylesheet"type="text/css" href="../../styles/media.css">
    <link rel="stylesheet" href="https://use.typekit.net/zki7ypa.css">
    
    <title>Document</title>
</head>
<body>
    <section class="detail jupiter_detail">
        <nav class="navbar navbar-expand-xl">
            <div class="container-fluid">
                <a class="navbar-brand ms-3" href="../../index.html">
                    <img src="..\..\assets\Jaxa_logo.png" alt="jaxa logo" class="pe-3 align-middle img-responsive" >
                    <img src="..\..\assets\SP-247_logo.png" alt="sp-247 logo" class="ps-3 align-middle img-responsive"> 
                </a>
                <ul class="navbar-nav ms-auto me-3">
                    <li class="nav-item pe-5">
                        <a class="nav-link" href="../../index.html#about">Mission</a>
                    </li>
                    <li class="nav-item pe-5">
                        <a class="nav-link" href="../../index.html#missionlog">Timeline</a>
                    </li>
                    <li class="nav-item pe-3">
                        <a class="nav-link" href="../../index.html#emblem">Emblem</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr> 
        <div class="detail_title text-center mx-auto">
            <p class="BigTxT">jupiter</p>
        </div>
        <div class="detail_content container mx-auto d-flex flex-column">
            <div class="container p-2">
                <div class="row ">
                    <div class="col-md-2 col-12 d-flex align-self-center">
                        <h1 class="mx-auto">01</h1>
                    </div>
                    <div class="col-md-10 col-12 align-self-center detail_1">
                        <p>As SP-247 approaches Jupiter, its onboard sensors and instruments become highly active, scanning the giant planet and its surroundings.</p>
                    </div>
                </div>
            </div>
            <div class="container detail_top_buffer">
                <div class="row justify-content-between align-items-center reveal fade-bottom">
                    <div class="col-md-4 text-center">
                        <h1 class="mx-auto">02</h1>
                        <h5 class="mt-3">The spacecraft captures high-resolution images of Jupiter's distinctive cloud bands, storms, and swirling atmospheric features.
                        </h5>
                    </div>
                    <div class="col-md-4  text-center mt-4 mt-md-0">
                        <h1 class="mx-auto">03</h1>
                        <h5 class="mt-3">SP-247 measures the composition and properties of Jupiter's atmosphere, providing valuable data on its chemical makeup, temperature variations, and atmospheric dynamics.
                        </h5>
                    </div>
                </div>
            </div>
            <div class="container detail_top_buffer reveal fade-bottom">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-4 text-center">
                        <h1 class="mx-auto">04</h1>
                        <h5 class="mt-3">The spacecraft investigates Jupiter's magnetosphere, studying its magnetic field, radiation belts, and interactions with the solar wind.
                        </h5>
                    </div>
                    <div class="col-md-4  text-center mt-4 mt-md-0">
                        <h1 class="mx-auto">05</h1>
                        <h5 class="mt-3">SP-247 conducts detailed observations of Jupiter's moons, including Io, Europa, Ganymede, and Callisto, capturing images and studying their geology, surface features, and potential for habitability.
                        </h5>
                    </div>
                </div>
            </div>
            <div class="container detail_top_buffer mb-5 reveal fade-bottom">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-4 text-center">
                        <h1 class="mx-auto">06</h1>
                        <h5 class="mt-3">The spacecraft's instruments analyze the composition and structure of Jupiter's rings, shedding light on their origin, dynamics, and evolution.
                        </h5>
                    </div>
                    <div class="col-md-4  text-center mt-4 mt-md-0">
                        <h1 class="mx-auto">07</h1>
                        <h5 class="mt-3">SP-247's mission at Jupiter offers unprecedented insights into the planet's complex system, advancing our understanding of giant planets.
                        </h5>mt-4 mt-md-0
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="detail_middle detail_top_buffer jupiter_middle">
        <div class="detail_middle_title text-center">
            <div class="BigTxT reveal fade-bottom">
                <p>
                    the planet
                </p>
            </div>
            <div class="container mx-auto mt-3">
                <h5>
                    Explore the captivating grandeur of Jupiter, the largest planet in our solar system. From its mesmerizing banded patterns to the enduring mystery of the Great Red Spot, Jupiter beckons us to unravel its celestial wonders.
                </h5>
            </div>
        </div>
        <div class="detail_middle_content d-flex align-items-center ">
            <div class="container mt-5 p-2 ">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-4 detail_middle_content_section">
                        <h5>Banded beauty</h5>
                        <p class="mt-3">Jupiter, the colossal gas giant, reveals a breathtaking tapestry of banded patterns across its massive form, enticing astronomers and enchanting stargazers with its awe-inspiring beauty.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 detail_middle_content_section">
                        <h5>Enigmatic Storm</h5>
                        <p class="mt-3">The Great Red Spot, a long-enduring storm, captures our imaginations with its swirling tempests and crimson hue, beckoning scientific investigation into the mysteries of Jupiter's atmospheric dynamics.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 detail_middle_content_section">
                        <h5>Celestial Secrets</h5>
                        <p class="mt-3">From its immense size to its celestial wonders, Jupiter invites us to embark on an epic exploration, uncovering the secrets hidden within its captivating cloud cover and revealing the intricate tapestry of our cosmic neighborhood.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="research jupiter_research">
        <div>
            <div class="container mx-auto about_top_buffer d-flex justify-content-between">
                <div class="research_content reveal fade-left">
                    <div class="mission_title">
                        <p class="MissionTitle">research</p>
                    </div>
                    <div class="mission_content">
                        <p>Research on Jupiter has revealed fascinating insights into its composition, atmosphere, magnetic field, and moons.
                            <br><br>
                            Scientists have determined that Jupiter is primarily composed of hydrogen and helium, along with trace elements. Its dynamic atmosphere displays storms, cloud formations, and distinctive banding patterns. The enduring Great Red Spot, a massive storm, captivates researchers studying its origins and atmospheric dynamics.
                            <br><br>
                            Jupiter's magnetic field generates radiation belts and auroras, providing valuable insights into its interactions with the surrounding space environment. The field's relationship with moons like Io adds further depth to our understanding.
                        </p>
                    </div>
                  </div>    
            </div>
        </div>
        <div class="research_info container">
            <div class="d-inline-flex text-center row justify-content-start">
                <div class="col">
                    <h1 >8k+</h1>
                    <h4 class="mt-1 "> researchers</h4>
                </div>
                <div class="col">
                    <h1 >200</h1>
                    <h4 class="mt-1">thousand hours</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="research_footer">
        <!-- Remove the container if you want to extend the Footer to full width. -->
        <div class="container pt-5">
    
            <footer >
              <!-- Grid container -->
              <div class="container p-4">
                <!--Grid row-->
                <div class="row d-flex justify-content-between">
                  <!--Grid column-->
                  <div class="col-xl col-md-6 p-3 d-flex justify-content-between" >
                    <div class="d-flex justify-content-between mb-4 " style=" height: 150px;">
                        <img src="../../assets/SP-247_logo.png" height="70" alt=""
                        loading="lazy" />
                        <img src="../../assets/Jaxa_logo.png" height="70" alt=""
                        loading="lazy" />    
                    </div>
                    <div class="ps-3">
                        <p>"Mission SP-247: Journey to Saturn, unraveling cosmic mysteries. Inspiring exploration, expanding knowledge, and igniting the wonder of the universe."</p>
                      </div>
                  </div>
    
                  <!--Grid column-->
                  <div class="footer_right col-lg-3 col-md-3 mb-md-0 d-flex justify-content-between">
                    <!--Grid column-->
                        <div class="">
                            <h5 class="text-uppercase mb-4">Office</h5>
                
                            <ul class="list-unstyled">
                            <li>
                                <p><i class="fas fa-map-marker-alt pe-2"></i>Tokyo, 57 Street </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone pe-2"></i>Japan</p>
                            </li>
                            </ul>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="">
                            <h5 class="text-uppercase mb-4">Contact</h5>
                
                            <ul class="list-unstyled">
                            <li>
                                <p><i class="fas fa-phone pe-2"></i>+ 01 234 567 89</p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope pe-2 mb-0"></i>jaxa@gmail.com</p>
                            </li>
                            </ul>
                        </div>
                  <!--Grid column-->
                  </div>
                </div>
                <!--Grid row-->
              </div>
              <!-- Grid container -->
          
              <!-- Copyright -->
              <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); font-weight: 600;">
                © 2023 Copyright:
                <a class="text-white" href="">All rights reserved</a>
              </div>
              <!-- Copyright -->
            </footer>
          
          </div>
      <!-- Copyright -->
    </footer>
  
  </div>
  <!-- End of .container -->
    </section>
    <script type="text/javascript" src="../../index.js"></script>
    
</body>
</html>