<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/baffle@0.3.6/dist/baffle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"type="text/css" href="../../styles/detail.css">
    <link rel="stylesheet" href="https://use.typekit.net/zki7ypa.css">
    
    <title>Document</title>
</head>
<body>
    <section class="detail detail_hero saturn_detail">
        <nav class="navbar navbar-expand-xl">
            <div class="container-fluid">
                <a class="navbar-brand ms-3" href="#">
                    <img src="..\..\assets\Jaxa_logo.png" alt="jaxa logo" class="pe-3 align-middle img-responsive" >
                    <img src="..\..\assets\SP-247_logo.png" alt="sp-247 logo" class="ps-3 align-middle img-responsive"> 
                </a>
                <ul class="navbar-nav ms-auto me-3">
                    <li class="nav-item pe-5">
                        <a class="nav-link" href="">Mission</a>
                    </li>
                    <li class="nav-item pe-5">
                        <a class="nav-link" href="">Timeline</a>
                    </li>
                    <li class="nav-item pe-3">
                        <a class="nav-link" href="">Emblem</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr> 
        <div class="detail_title text-center mx-auto">
            <p class="BigTxT">saturn</p>
        </div>
        <div class="detail_content container mx-auto d-flex flex-column">
            <div class="container p-2">
                <div class="row ">
                    <div class="col-2 d-flex  align-self-center"><h1 class="mx-auto">01</h1></div>
                    <div class="col-10 align-self-center ">
                    <p>SP-247 will closely observe and analyze Saturn's iconic ring system, studying its composition, structure, and dynamics, providing insights into the planet's formation and evolution.</p></div>
                </div>
            </div>
            <div class="container detail_top_buffer">
                <div class="row justify-content-between align-items-center reveal fade-bottom">
                    <div class="col-4 text-center">
                        <h1 class="mx-auto">02</h1>
                        <h5 class="mt-3">The spacecraft will delve into Saturn's atmosphere, investigating its composition, cloud patterns, and atmospheric phenomena, helping scientists understand the planet's weather systems and atmospheric processes.
                        </h5>
                    </div>
                    <div class="col-4  text-center ">
                        <h1 class="mx-auto">03</h1>
                        <h5 class="mt-3"> SP-247 will study Saturn's diverse moons, such as Titan and Enceladus, examining their surfaces, atmospheres, and potential for hosting life-sustaining environments, uncovering the secrets of these intriguing worlds.
                        </h5>
                    </div>
                </div>
            </div>
            <div class="container detail_top_buffer reveal fade-bottom">
                <div class="row justify-content-between align-items-center">
                    <div class="col-4 text-center">
                        <h1 class="mx-auto">04</h1>
                        <h5 class="mt-3">By measuring Saturn's magnetic field, SP-247 will unravel the planet's internal structure, including the presence of a liquid metallic hydrogen layer and its interaction with the surrounding space environment.>
                        </h5>
                    </div>
                    <div class="col-4  text-center ">
                        <h1 class="mx-auto">05</h1>
                        <h5 class="mt-3">The mission aims to capture and analyze Saturn's mesmerizing auroras and study the plasma interactions occurring in its magnetosphere, unraveling the processes behind these dazzling phenomena.
                        </h5>
                    </div>
                </div>
            </div>
            <div class="container detail_top_buffer mb-5 reveal fade-bottom">
                <div class="row justify-content-between align-items-center">
                    <div class="col-4 text-center">
                        <h1 class="mx-auto">06</h1>
                        <h5 class="mt-3">SP-247 will collect data on Saturn's composition, including its atmospheric gases and the presence of organic compounds, shedding light on the planet's formation and its potential as a habitable world.
                        </h5>
                    </div>
                    <div class="col-4  text-center ">
                        <h1 class="mx-auto">07</h1>
                        <h5 class="mt-3">By studying Saturn's unique characteristics, SP-247 will contribute to comparative planetology, allowing scientists to draw comparisons with other gas giants, further expanding our understanding of planetary systems in our universe.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="detail_middle detail_top_buffer saturn_middle">
        <div class="detail_middle_title text-center">
            <div class="BigTxT reveal fade-bottom">
                <p>
                    the planet
                </p>
            </div>
            <div class="container mx-auto mt-3">
                <h5>
                    Saturn, with its majestic ring system, intriguing moons, and enigmatic atmosphere, presents a captivating celestial world that holds secrets about the formation of planetary systems and the dynamics of gas giants.
                </h5>
            </div>
        </div>
        <div class="detail_middle_content d-flex align-items-center ">
            <div class="container mt-5 p-2 ">
                <div class="row text-center">
                    <div class="col-4">
                        <h5>Ringed Marvel</h5>
                        <p class="mt-3">Saturn's stunning ring system is a defining feature of the planet, composed of countless icy particles ranging in size from tiny grains to massive chunks, creating a mesmerizing celestial spectacle.</p>
                    </div>
                    <div class="col-4">
                        <h5>Mysterious Moons</h5>
                        <p class="mt-3">Saturn boasts a diverse collection of moons, including Titan, Enceladus, and Rhea. These moons exhibit intriguing features such as lakes of liquid hydrocarbons, geysers spewing icy particles, and potential subsurface oceans, enticing scientists with their potential for habitability.</p>
                    </div>
                    <div class="col-4">
                        <h5>Enigmatic Atmosphere</h5>
                        <p class="mt-3">Saturn's atmosphere is composed mostly of hydrogen and helium, with traces of other gases. Its massive storms like the famous hexagonal storm at the north pole, and enigmatic features like the Great White Spot offer valuable insights into atmospheric dynamics.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="research saturn_research">
        <div>
            <div class="container mx-auto about_top_buffer d-flex justify-content-between">
                <div class="research_content reveal fade-left">
                    <div class="mission_title">
                        <p class="MissionTitle">research</p>
                    </div>
                    <div class="mission_content">
                        <p>Saturn's allure fuels scientific inquiry as researchers investigate its enigmatic atmosphere, iconic rings, and diverse moons. 
                            <br><br>
                            The composition, dynamics, and atmospheric processes of Saturn's gaseous envelope captivate scientists, while its magnificent ring system presents a unique opportunity to explore planetary formation. Additionally, the intriguing moons of Saturn, like Titan and Enceladus, hold the promise of understanding subsurface oceans and the potential for habitable environments. 
                            <br><br>
                            The research endeavors surrounding Saturn encompass a captivating journey into the mysteries of this celestial giant, deepening our understanding of planetary systems and enriching our knowledge of the cosmos.
                        </p>
                    </div>
                  </div>    
            </div>
        </div>
        <div class="research_footer container">
            <div class="d-inline-flex text-center row justify-content-start">
                <div class="col">
                    <h1 >6k+</h1>
                    <h4 class="mt-1 "> researchers</h4>
                </div>
                <div class="col">
                    <h1 >100</h1>
                    <h4 class="mt-1">thousand hours</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container pt-5">

    <footer >
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row d-flex justify-content-between">
          <!--Grid column-->
          <div class="col-xl col-md-6 p-3 d-flex justify-content-between" style="width:50vw">
  
            <div class="d-flex justify-content-between mb-4" style=" height: 150px;">
                <img src="../../assets/SP-247_logo.png" height="70" alt=""
                loading="lazy" />
                <img src="../../assets/Jaxa_logo.png" height="70" alt=""
                loading="lazy" />    
            </div>
            <div class="ps-3">
                <p>"Mission SP-247: Journey to Saturn, unraveling cosmic mysteries. Inspiring exploration, expanding knowledge, and igniting the wonder of the universe."</p>
              </div>
          </div>

          <!--Grid column-->
          <div class="footer_right col-lg-3 col-md-3 mb-md-0 d-flex justify-content-between">
            <!--Grid column-->
                <div class="">
                    <h5 class="text-uppercase mb-4">Office</h5>
        
                    <ul class="list-unstyled">
                    <li>
                        <p><i class="fas fa-map-marker-alt pe-2"></i>Tokyo, 57 Street </p>
                    </li>
                    <li>
                        <p><i class="fas fa-phone pe-2"></i>Japan</p>
                    </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="">
                    <h5 class="text-uppercase mb-4">Contact</h5>
        
                    <ul class="list-unstyled">
                    <li>
                        <p><i class="fas fa-phone pe-2"></i>+ 01 234 567 89</p>
                    </li>
                    <li>
                        <p><i class="fas fa-envelope pe-2 mb-0"></i>jaxa@gmail.com</p>
                    </li>
                    </ul>
                </div>
          <!--Grid column-->
          </div>
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); font-weight: 600;">
        © 2023 Copyright:
        <a class="text-white" href="">All rights reserved</a>
      </div>
      <!-- Copyright -->
    </footer>
  
  </div>
  <!-- End of .container -->
    </section>
    <script type="text/javascript" src="../../index.js"></script>
    
</body>
</html>